html {
  background-color: #181a1b;
}
div, h1, h2, h3 {
  color: #e8e6e3;
}

button {
  min-height: 30px;
  color: white;
  cursor: pointer;
  background-color: black;
  outline: none;
}

body button:hover,
body button:active {
  cursor: pointer;
  background-color: grey;
}

.buttonRow div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  min-height: 35px;
}


.buildingPurchaseBtn {
  width: 15em;
  border-radius: 8px;
  border: 1px solid white;
  background-color: black;
  cursor: default;
}


.buildingPurchaseBtn:hover {
  cursor: default;
  background-color: black;
}

.buildingPurchaseBtn.available {
  cursor: pointer;
  background-color: grey;
}

.buildingPurchaseBtn.available:hover {
  background-color: lightgrey;
}


.buildingText {
  width: 22em;
}